{% extends "common/base.twig" %}

{% block body_classes %}page-columns{% endblock %}

{% block content %}
<section class="element element-hero">
  <div class="title">
    <h1>{{ page.title }}</h1>
  </div>
</section>
<section class="content">
  <div class="inner">
    <div class="images">
      {% if page.image.url %}
        <div class="image">
          <img src="{{ page.image.url }}" alt="{{ page.image.caption }}">
          {% if page.image.caption != '' %}
          <div class="caption">{{ page.image.caption }}</div>
          {% endif %}
        </div>
      {% endif %}
      {% for image in page.images %}
        <div class="image">
          <img src="{{ image.url }}" alt="{{ image.caption }}">
          {% if image.caption != '' %}
          <div class="caption">{{ image.caption }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="details">
      <div class="description">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>
{% endblock %}