{% include 'common/html-header.twig' %}
{% block head %}{% endblock %}
</head>
  {% set body_classes %}{% block body_classes %}{% endblock %}{% endset %}
<body data-template="{{ body_classes }}">
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  {% include 'common/header.twig' %}

  <section class="container-wrap" data-template="{{ body_classes }}">
    <section class="container" data-template="{{ body_classes }}">
      {% block content %}
        Sorry, no content
      {% endblock %}
    </section>
  </section>

  {% include 'common/footer.twig' %}

  {{ function('wp_footer') }}
  
  <script src="{{ template_uri }}/dist/js/init.js"></script>
  <script>(function(){window.app.init();})(); //init</script>
</body>
</html>
