{% include 'common/html-header.twig' %}
{% block head %}{% endblock %}
</head>
  {% set body_classes %}{% block body_classes %}{% endblock %}{% endset %}
<body class="{{ body_class }}">
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  {% include 'common/header.twig' %}

  <div class="container-wrap" data-template="{{ body_classes }}">
    <div class="container" data-template="{{ body_classes }}">
      {% block content %}
        Sorry, no content
      {% endblock %}
    </div>
  </div>

  {% include 'common/footer.twig' %}

  <script src="{{ template_uri }}/dist/js/init.js"></script>

  {{ function('wp_footer') }}
</body>
</html>
